#### Basic

In [1]:
x = 10
x

10

In [2]:
y = 20
y

20

#### String

- Strings are sequence of characters, enclosed with single '', double "" and triple ''' ''' or """ """ quote

In [4]:
# Creating String

name = "Aditya"
name

'Aditya'

In [6]:
# Escape Character

first_name = "Aditya"
last_name = "Kumar"

print(first_name + "\n" + last_name)

Aditya
Kumar

In [7]:
# Accessing Characters
print(name[0])

A

In [8]:
# String Operation
print(first_name + " " + last_name) # Concatenating Strings
print(first_name * 3) # Repeating Strings

Aditya Kumar
AdityaAdityaAditya

In [ ]:
a = 3; b = 4

4

In [13]:
c = 4 + 5 + 3\
            + 2
c

14

In [16]:
# String Methods

print(first_name.lower())
print(first_name.upper())
print("      Space        ".strip())
print("     Space     123".replace(" ", "a"))

aditya
ADITYA
Space
aaaaaSpaceaaaaa123

#### List

- Lists are ordered, multable collections

- Defined with []

In [17]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [19]:
### Access Elements

print(num[0])
print(num[-1])

1
5

In [20]:
num[1] = 12

In [21]:
num

[1, 12, 3, 4, 5]

In [22]:
### Add

num.append(6)
num

[1, 12, 3, 4, 5, 6]

In [23]:
num.insert(1, 10)
num

[1, 10, 12, 3, 4, 5, 6]

In [24]:
# Remove

num.remove(3)
num

[1, 10, 12, 4, 5, 6]

In [26]:
num.remove(6)
num

[1, 10, 12, 4, 5]

In [30]:
# Other methods

numbers = [10, 20, 30, 40]

len(numbers), sum(numbers), max(numbers), min(numbers), sum(numbers)/len(numbers)

(4, 100, 40, 10, 25.0)

In [31]:
print(len(numbers))
print(sum(numbers))
print(max(numbers))
print(min(numbers))
print(sum(numbers)/len(numbers))

4
100
40
10
25.0