#### Basic

In [1]:
x = 10
x

10

In [2]:
y = 20
y

20

#### String

- Strings are sequence of characters, enclosed with single '', double "" and triple ''' ''' or """ """ quote

In [4]:
# Creating String

name = "Aditya"
name

'Aditya'

In [6]:
# Escape Character

first_name = "Aditya"
last_name = "Kumar"

print(first_name + "\n" + last_name)

Aditya
Kumar

In [7]:
# Accessing Characters
print(name[0])

A

In [8]:
# String Operation
print(first_name + " " + last_name) # Concatenating Strings
print(first_name * 3) # Repeating Strings

Aditya Kumar
AdityaAdityaAditya

In [ ]:
a = 3; b = 4

4

In [13]:
c = 4 + 5 + 3\
            + 2
c

14

In [16]:
# String Methods

print(first_name.lower())
print(first_name.upper())
print("      Space        ".strip())
print("     Space     123".replace(" ", "a"))

aditya
ADITYA
Space
aaaaaSpaceaaaaa123

#### List

- Lists are ordered, multable collections

- Defined with []

In [17]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [19]:
### Access Elements

print(num[0])
print(num[-1])

1
5

In [20]:
num[1] = 12

In [21]:
num

[1, 12, 3, 4, 5]

In [22]:
### Add

num.append(6)
num

[1, 12, 3, 4, 5, 6]

In [23]:
num.insert(1, 10)
num

[1, 10, 12, 3, 4, 5, 6]

In [24]:
# Remove

num.remove(3)
num

[1, 10, 12, 4, 5, 6]

In [26]:
num.remove(6)
num

[1, 10, 12, 4, 5]

In [30]:
# Other methods

numbers = [10, 20, 30, 40]

len(numbers), sum(numbers), max(numbers), min(numbers), sum(numbers)/len(numbers)

(4, 100, 40, 10, 25.0)

In [31]:
print(len(numbers))
print(sum(numbers))
print(max(numbers))
print(min(numbers))
print(sum(numbers)/len(numbers))

4
100
40
10
25.0

#### Tuples

- Tuples are like lists, but immutable (cannot be changed)

- Defined with ( )

- Key Properties:

    - Ordered
        - Items are stored in sequence and can be accesed by index

    - Immutable
        - You cannot add, remove, or modify elements after creation

    - Hetrogeneous
        - Can Store multiple data types in one tuple
    
    - Allow Duplicates
        - Same values can appear multiple times

In [32]:
# Empty tuple

empty = ()
empty

()

In [33]:
# Single Element

single = (42,)
single

(42,)

In [34]:
# Mixed Data
mixed = (1, "Hello", 3.14, True)
mixed

(1, 'Hello', 3.14, True)

#### Sets

In [35]:
s = {1, 2, 3, 4}
s

{1, 2, 3, 4}

In [36]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [38]:
s.remove(2)
s

{1, 3, 4, 5}

In [39]:
# set Operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)
print(a & b)
print(a - b)

{1, 2, 3, 4, 5}
{3}
{1, 2}

#### Dictonaries

- Dictonaries are key value pairs.

- Defined with {key: value}

In [40]:
# Creating Dictonary

student =  {
    "name": "Aditya",
    "age": 20, 
    "city": "Gobindpur"
}

student

{'name': 'Aditya', 'age': 20, 'city': 'Gobindpur'}

In [41]:
# Accessing Values

student["name"]

'Aditya'

In [42]:
student["city"]

'Gobindpur'

In [43]:
student.get("age")

20

In [44]:
ag = "age"

student[ag]

20

In [45]:
student.get(ag)

20

In [46]:
del student["city"]

In [47]:
student

{'name': 'Aditya', 'age': 20}

### Conditional Statement and looop in python

In [1]:
age = 20

if age < 18:
    print("You are a minor")
elif age >= 18 and age < 60:
    print("You are an adult")
else:
    print("You are a senior citizen")

You are an adult

### Loop control Statements

- break -> exit loop immediately
- continue -> skip the current iteration and move to the next iteration
- pass -> placeholder (does nothing, just avoids error),

In [2]:
# Break

for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

In [3]:
# Continue

for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

#### pass is a null statement in python

- It does nothing when executed

- It's used as a placeholder when you want to write code editor

- but need syntatically correct python right now

In [4]:
for i in range(1, 6):
    if i == 3:
        pass
    print(i)

1
2
3
4
5

#### Functions

- A function is a block of resuable code that performs a specific task.

- Instead of writing the recipe for "making tea every time,"

- You just say: make_tea()

In [5]:
def function_name(parameters):
    """docstring (optional)"""

    # Function body
    return "value"

In [6]:
# Simple Function

def greet_user(name):
    print(f"Hello, {name}!")

greet_user("Aditya")

Hello, Aditya!

In [7]:
# Function with return value

def add(a, b):
    return a+b

result = add(2, 5)

print(result)

7

In [8]:
# Default Parameters

def power(base, exponent=2):
    return base**exponent

result = power(5)

print(result)

25

In [9]:
# Multiple Return values

def cal(a, b):
    return a+b, a-b, a*b

sum, diff, prod = cal(10, 5)

print(sum)
print(diff)
print(prod)

15
5
50

#### Unpacking

In [12]:
numbers = [10, 20, 30]

a, b, c = numbers
print(a, b)
print(a, b, c)

10 20
10 20 30

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 9, 10, 20]

a, b, *rest = num 

print(a)
print(b)
print(rest)

1
2
[3, 4, 5, 6, 7, 9, 10, 20]

In [14]:
a, *mid, c = num

print(a)
print(mid)
print(c)

1
[2, 3, 4, 5, 6, 7, 9, 10]
20

In [16]:
# Unpacking with * in function calls

def add(a, b, c):
    return a + b + c

nums = [10, 20, 30]

print(add(*nums))

60

In [21]:
# Dictionary unpacking with **

def show_info(name, age, city):
    print(f"{name} is {age} years old and lives in {city}")

info = {
    "name": "Akash",
    "age": 100,
    "city": "Jodhpur"
}

show_info(**info)

Akash is 100 years old and lives in Jodhpur

In [27]:
# Mergin with unpacking

list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged = [*list1, *list2]
print(merged)

[1, 2, 3, 4, 5, 6]

In [28]:
print(list1 + list2)

[1, 2, 3, 4, 5, 6]

#### Variable - length argument in python

- Sometimes we don't know how many argument a function will get.
- Python gives us two special ways to handle this:

- *args -> for any number of positoinal arguemtns
- **kwargs -> for any number of keyword arguments

##### Variable Positional Argumets -> *args

- *args allows us to pass any number of positional arguments(like a tuple)

In [4]:
def add_numbers(*args):
    print(args)             # args is a tuple
    return sum(args)

print(add_numbers(1, 2, 3, 4, 6))
print(add_numbers(10, 20, 30, 40, 60, 40, 30, 10))

(1, 2, 3, 4, 6)
16
(10, 20, 30, 40, 60, 40, 30, 10)
240